.main-content-detail-products .main-content-right .new-item-wrapper{
    flex-direction: row;
    color: #000;
}
.main-content-detail-products .main-content-right .new-item-wrapper
.new-item-link.none-border-radius{
    border-radius:0;
}
.main-content-detail-products .main-content-right .new-item-wrapper .new-item-info p b{
    color: #000;
    font-weight: 500;
}
.main-content-detail-products .main-content-right .new-item-wrapper .new-item-info div{
    display: flex;
    align-items: center;
    margin: 10px 0;
    line-height: 27px;
}
.price-product{
    margin-left: 15px;
    padding: 8px 15px;
    background: var(--red-dark-color);
    color: #fff;
    border-radius: 3px;
}
.price-product:hover{
    color: #fff;
}
.product-info-comment{
    margin: 2%;
}
.product-info-comment button{
    border: none;
    padding: 8px;
    cursor: default;
}

.product-info-comment img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.show-info-row{
    margin-top: 15px;
    margin-bottom: 30px;
}
.pagination-product{
    margin: 15px 0;
}
.pagination-product .pagination{
    justify-content: center;
}
.show-info> p{
    line-height: 27px;
}