:root {
    --green-dark-color: #246a34;
    --green-light-color: #006600;
    --red-light-color: #ff2731;
    --red-dark-color: #db261b;
    --bg-color: #f2f2f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1250px !important;
}

/* HEADER */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header {}

.top-header {
    background: #f3f3f3;
    padding: 3px 0;
    padding: 0px 10px;
}

.top-header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header-block .company-address {
    margin-bottom: 0px;
    padding: 13px 0;
}

.top-header-block .company-address i {
    margin: 3px 5px 0px 0px;
    font-size: 16px;
    color: #808080;
}

.top-header-block .company-address span {
    padding: 8px 0px;
}

.top-header-block .contact-block-list {
    display: flex;
    justify-content: space-between;
}

.top-header-block .contact-block-item {
    margin-right: 4px;
}

.main-header .row {
    justify-content: space-between;
    align-items: center;
    /* max-height: 70px; */
}

.company-logo {
    position: relative;
    width: 130px !important;

}

.company-logo .company-logo-link {
    display: block;
}

.company-info {
    text-align: center;
}

.company-info .company-name {
    font-size: 25px;
    font-weight: 700;
}

.company-info .company-name span:nth-child(1) {
    color: var(--green-dark-color);
}

.company-info .company-name span:nth-child(2) {
    color: var(--red-light-color);
    font-size: 25px;
    font-weight: 700;
    margin-left: 10px;
}

.company-info .company-des {}

.company-hotline {
    display: flex;
    position: relative;
    justify-content: space-evenly;
}

.company-hotline .company-hotline-img img {
    width: 100%;
    height: 52%;
    position: relative;
    top: 7px;
}

.company-hotline .company-hotline-text {
    padding-left: 14px;
}

.company-hotline .company-hotline-text p:nth-child(1) {
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.company-hotline .company-hotline-text p.company-hotline-number {
    margin-bottom: 6px;
}

.company-hotline .company-hotline-text p.company-hotline-number span:nth-child(1) {
    color: #ee0510;
    text-shadow: 0 0 1px black;
    font-size: 18px;
    font-weight: 900;
}

.company-hotline .company-hotline-text p.company-hotline-number span:nth-child(2) {
    font-weight: 500;
    font-size: 11px;
    color: var(--red-light-color);
}

.bottom-header {
    background: var(--red-light-color);
}

.bottom-header nav.header-navbar {
    padding: 0;
}

.bottom-header nav.header-navbar div {
    padding: 0;
}

.bottom-header nav.header-navbar .header-navbar-list {
    display: flex;
    /* justify-content:space-between; */
}

.bottom-header nav.header-navbar .header-navbar-item {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 36px;
    padding-right: 36px;
}

.bottom-header nav.header-navbar .header-navbar-item.active {
    background: var(--green-light-color);
    padding-left: 40px;
    padding-right: 40px;
}

.bottom-header nav.header-navbar .header-navbar-link, .header-navbar-category-item a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.bottom-header nav.header-navbar .header-navbar-item:hover, .header-slider .header-category-item:hover {
    background: var(--green-light-color);
    color: #fff;
    transition: all 0.3s;
}


.header-slider .header-category-item:hover a {
    color: #fff;
}

.header-slider {
    background: var(--bg-color);
}

.header-slider .header-category-block {
    margin-left: 12px;
    background: #fff;
    padding-left: 0;
    padding-right: 0;
}

.header-slider .header-category {}

.header-slider .header-category-item {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.header-slider .header-category-item svg {
    height: 10px;
}

.header-slider .header-category-item a {
    color: #000;
    padding: 0px 10px;
}

.header-form-search {
    position: relative;
    display: flex;
}

.header-form-search input {
    padding: 4px 0;
    width: 100%;
    border-radius: 13px;
    margin-top: 10px;
    background: #a8a5a5;
    border: #a8a5a5;
}

.header-form-search svg {
    position: absolute;
    right: 10px;
    top: 16px;
}

.header-carousel {
    position: relative;
    border-top: 3px solid #eaeaea;
    border-bottom: 3px solid #eaeaea;
    background-color: #f2f2f2;
}

.header-carousel img {
    height: 450px;
}

.header-slider .header-carousel-block {
    margin: 10px 0 15px 8px;
}

.carousel-control-prev .icon-prev, .carousel-control-next .icon-next {
    position: absolute;
    width: 36px;
    padding: 12px;
    height: 50px;
    cursor: pointer;
    background-color: #000000;
    border-radius: 3px;
    font-size: 23px;
    font-weight: 900;
}

.carousel-control-prev .icon-prev {
    left: 20px;
}

.carousel-control-next .icon-next {
    right: 20px;
}

span.carousel-control-prev-icon:hover, span.carousel-control-next-icon:hover {
    opacity: 0.8;
}

/* END HEADER */
/* START MAIN CONTENT */
.main-content {}

.top-main-content {
    padding: 50px 0 50px;
}

.top-main-content .intro-block {}

.top-main-content .intro-block .title, .box-projects .title, .news-block .title, .customers-block .title {
    color: var(--red-light-color);
    display: block;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    position: relative;
    padding-top: 40px;
    /* padding-bottom: 30px; */
}

.top-main-content .intro-block .title::after, .box-product-categories .title::after {
    content: url(../images/tb-icon.png);
    position: relative;
    display: block;
    line-height: 0;
    margin: 10px 0;
    text-align: center;
}

.top-main-content .intro-block .intro-des {
    text-align: center;
    font-size: 14px;
    line-height: 1.9em;
    margin-top: 15px;
}

.top-main-content .intro-block .btn-load-more {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    padding-bottom: 66px;
    border-bottom: 2px #000 dotted;
}

.top-main-content .intro-block .btn-load-more .load-more-link {
    display: inline-block;
    padding: 11.5px 23px;
    position: absolute;
    overflow: hidden;
    border: 2px solid #779202;
    background-color: #006600;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    z-index: 0;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.9px;
}

.top-main-content .intro-block .btn-load-more .load-more-link::after {
    content: "";
    position: absolute;
    width: 150%;
    height: 100%;
    left: 100%;
    top: 0;
    transition: 1s cubic-bezier(0.65, 0.05, 0.36, 1);
    transform: translateX(-17px) skewX(-45deg);
    transform-origin: bottom;
    background-color: #779202;
    z-index: 1;
}

.top-main-content .intro-block .btn-load-more .load-more-link:hover::after {
    transform: translateX(calc(-100% - 17px)) skewX(-45deg);
}

.top-main-content .intro-block .btn-load-more .load-more-link span {
    position: relative;
    z-index: 100;
}

.box-product-categories {
    text-align: center;
}

.box-product-categories a {
    color: var(--red-light-color);
    padding-top: 5px;
    display: block;
}

.box-projects {
    background: var(--bg-color);
    margin-top: 55px;
}

.box-projects .project-block, .box-product-block {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 70px;
}

.box-projects .project-block .project-item-wrapper .project-item-info {
    padding: 25px 0 25px 0px;
}

.box-projects .project-block .project-item-wrapper .project-item-info .project-item-title {
    color: #363535;
    text-transform: capitalize;
    font-size: 21px;
    white-space: inherit;
    line-height: 1.5em;
    display: -webkit-box;
    min-height: 74px;
    position: relative;
    overflow-y: hidden;
}

.box-projects .project-block .project-item-wrapper .project-item-info .project-item-title::after {
    content: "";
    position: absolute;
    display: block;
    width: 46px;
    height: 3px;
    background: #cacaca;
}

.box-projects .project-block .project-item-wrapper .project-item-info .project-item-title:hover {
    color: #1e88ec;
}

/* .box-projects .project-block .project-item-wrapper .project-item-link img {
    transition: zoomIn ease 0.5s;
}

.box-projects .project-block .project-item-wrapper .project-item-link img:hover {
    transform: scale(1.1);
} */
.project-item-link::before, .project-item-link::after {
    box-sizing: inherit;
    content: "";
    position: absolute;
    z-index: 9;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    left: 10px;
    top: 10px;
    transform-origin: center;
}

.project-item-wrapper div div {
    width: 100%;
    border: thin solid #dfdfdf;
    overflow: hidden;
    position: relative;
}

.project-item-link::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: scale3d(0, 1, 1);
}

.project-item-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
}

.project-item-link::after {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: scale3d(1, 0, 1);
}

/* .project-item-link:hover {
    background: rgba(0, 0, 0, 0.45);
} */

.project-item-link:hover::before, .project-item-link:hover::after {
    transform: scale3d(1, 1, 1);
    transition: transform 0.5s;
}

.project-item-link:hover img {
    opacity: 0.8;
    transform: scale(1.2);
}

.project-item-wrapper img {
    border: thin solid #dfdfdf;
    overflow: hidden;
    position: relative;
}

.box-projects .project-block .project-item-wrapper .project-item-info p {
    line-height: 28px;
}

.box-fields {
    background-image: url(../images/dv_bg.png);
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
    background-position: center;
}

.box-fields .box-fields-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 20px; */
}

.box-fields-wrapper .box-field-link {
    border: 2px dotted;
    overflow: hidden;
    display: block;
    text-align: center;
    /* padding: 5px; */
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -khtml-border-radius: 50%;
    /* -webkit-backface-visibility: hidden; */
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    max-width: 80px;
    margin: 0 auto;
    max-height: 80px;
}

.box-fields-wrapper .box-field-link img {
    /* border-radius: 50%; */
    width: 100%;
}

.box-fields-wrapper .box-field-info p {
    font-size: 13px;
    color: #ffffff;
    line-height: 21px;
    max-height: 82px;
    overflow-y: hidden;
}

.box-fields-wrapper .box-field-info .box-field-title {
    color: #f6ed01;
    font-size: 13px;
    font-weight: 600;
}

.box-products {
    padding-top: 70px;
    /* padding-bottom: 70px; */
}

.box-products h2 {
    text-align: center;
}

.box-projects .title, .box-products .title,
.news-block .title, .customers-block .title,
.main-content-right .title h2 p, .main-content-contacts .main-content-wrapper .title, .box-product-categories .title {
    color: var(--red-dark-color);
}

.box-products .title {
    text-transform: uppercase;
    font-size: 30px;
    display: inline-block;
    font-weight: 700;
}

.box-products .title::after {
    content: "";
    width: 100%;
    background-size: cover;
    height: 21px;
    background: url(../images/ct-icon.png) center no-repeat;
    display: block;
    margin: 0px auto 6px;
}

.box-product-block {}

.box-product-block .box-product-item-wrapper {
    position: relative;
}

.box-product-block .box-product-item-wrapper h3 {
    font-size: 18px;
    color: #212529;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 25px;
    font-weight: 600;
}

.box-product-block .box-product-item-wrapper .box-product-link {
    overflow: hidden;
    display: block;
}

.box-product-block .box-product-item-wrapper .box-product-link::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 35px;
    top: calc(50% - 50px / 2);
    left: calc(50% - 35px / 2);
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url(../images/play.png);
}

.box-product-categories .box-product-block .box-product-item-wrapper .box-product-link::before {
    content: none;
}

.box-product-block .box-product-item-wrapper .box-product-link img {
    transition: 0.3s ease-out;
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    width: 100%;
}

.box-product-block .box-product-item-wrapper .box-product-link:hover img {
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    -moz-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.box-news {}

.box-news .box-news-info {
    display: flex;
    justify-content: space-between;
}

.news-block {}

.news-block .title, .customers-block .title {
    text-align: left;
    font-size: 30px;
}

.news-block .title::after, .customers-block .title::after,
.main-content-right .title h2 p::after {
    content: url(../images/g-icon.png);
    position: relative;
    display: block;
}

.new-item {
    margin-bottom: 40px;
    margin-top: 11px;
    border: 1px solid #cec7c7;
    margin-left: 15px;
    width: 85%;
    padding-right: 0;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.new-item-wrapper {
    display: flex;
    flex-direction: row-reverse;
}

.new-item-link {
    flex: 1;
    display: block;
    position: relative;
    margin: 2%;
    border-bottom-right-radius: 30px;

    overflow: hidden;
    display: block;
}

.new-item-link::before, .new-item-link::after {
    transform: scale3d(0, 1, 1);
    box-sizing: inherit;
    content: "";
    position: absolute;
    z-index: 9;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    left: 10px;
    top: 10px;
    transform-origin: center;
}

.new-item-link::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.new-item-link::after {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: scale3d(1, 0, 1);
}

.new-item-link:hover {
    background: rgba(0, 0, 0, 0.45);
}

.new-item-link:hover img {
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    -moz-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.new-item-link:hover::after, .new-item-link:hover::before {
    transform: scale3d(1, 1, 1);
    transition: transform 0.5s;
}

.new-item-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}

.new-item-info {
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-right: 10px;
    width: 100%;
    flex: 2;
}

.new-item-info p {
    color: #212529;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5em;
    text-transform: capitalize;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.new-item-title {
    width: 100%;
    transition: all 0.5s;
    color: #000;
    text-transform: capitalize;
    font-size: 18px;
    margin-top: 0;
    font-weight: 500;
    line-height: 1.5em;
}

.new-item-title:hover {
    color: #1e88ec;
}

/* .customers-block{
    width: 92%;
    margin-left: 48px;
}
.customer-item{
    padding: 20px 0;
    width: 100%;
    position: relative;
    border-radius: 19px;
    background: #00502f;
    height: 80%;
}
.customer-item-wrapper{
    margin: 0px 22px;
    padding: 35px 0;
    border-radius: 11px;
    border: 1px solid #fff;
}
.customer-item-link{

}
.customer-item-link img{
    width: 110px;
    border-radius: 50%;
}
.customer-item-link img,.customer-item-info h3{
    transform: translate3d(55px, 0px, 0px);

}
.customer-item-info{
    padding-top: 15px;
    padding-bottom: 80px;
}
.customer-item-info h3{
    font-size: 17px;
    margin-bottom: 30px;
} */
/* slider */
.customers-block {}

.customer-item {
    padding: 20px 0;
    width: 100%;
    position: relative;
    border-radius: 19px;
    background: #00502f;
    height: 80%;
}

.customer-item .customer-item-block {
    margin: 0px 22px;
    padding: 35px 0;
    border-radius: 11px;
    border: 1px solid #fff;
}

.customer-item .customer-item-block .slider {
    /* CSS SLIDER */
    padding-left: 37px;
    padding-right: 37px;
    /* max-height: 330px; */
    /* overflow: hidden; */
}

.slider .slider-item {
    /* width: 94px; */
    /* height: 300px; */
    /* overflow: hidden; */
}

.slider .slider-item .slider-track {}

.list-img {}

.slick-slide {}

.slick-next.slick-arrow, .slick-prev.slick-arrow {
    display: none !important;
}

ul.slick-dots {
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
}

.slider-item .your-class div {
    /* width: 94px; */
    margin-right: 10px;
    margin-left: 10px;
    height: 320px;
    overflow: hidden;
}

.slider-item .your-class ul.slick-dots button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #669682;
    box-shadow: none;
    border: none;
    overflow: hidden;
    text-indent: -50px;
    opacity: .5;
}

.slider-item .your-class ul.slick-dots li.slick-active button {
    opacity: 1;
}

.slider-item .your-class img {
    width: 120px;
    border-radius: 50%;
    height: 120px;
    object-fit: cover;
    margin-top: 20px;
}

.slider-item .your-class .btn-slider {
    width: 20px;
    height: 20px;
    background: orange;
    border-radius: 50%;
}

.slick-active {

    transition: all 1.5s;
}

.slick-current.slick-active {
    /* background: #000; */
    transform: scale(1.2);
}

.info-customer p, .info-customer span {
    color: #fff;
    text-align: center;
}

.info-customer p {
    font-size: 14px;
}

.info-customer span {
    font-size: 12px;
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1)
    }

    100% {
        transform: scale(1.);
    }
}

/* END MAIN CONTENT */
/* START FOOTER */
.footer {}

.scrollToTop {
    position: fixed;
    bottom: 65px;
    right: 25px;
    /* display: none; */
    z-index: 10;
    cursor: pointer;
}

.top-footer {
    background: #030;
    padding-bottom: 30px;
}

.fp-wrapper {
    margin-top: 20px;
}

.top-footer .img-fanpage {
    display: flex;
}

.top-footer .img-fanpage img {}

.top-footer .img-fanpage p {
    color: white;
    margin-top: 22px;
    margin-left: 10px;

}

.fg-text {
    color: white;
    font-size: 12px;
    font-weight: 300;
    margin-top: 10px;
}

.fp-link {
    display: block;
    overflow: hidden;
    /* text-align: center; */
}

.fp-link span {
    color: white;
    background: #e3a90d;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 10px;
}

.main-footer {
    background: url(../images/bg-footer.png);
    background-size: cover;
    padding: 20px;
    text-align: center;
}

.main-footer-title {
    text-transform: uppercase;
    font-size: 33px;
    color: var(--red-dark-color);
    font-weight: 900;
    margin-bottom: 40px;
    padding: 35px 10px 0;
}

.copy-right {
    color: #fff;
}

/* END FOOTER */
@media (max-width: 767px) {
    .box-projects .project-block {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.map-item .map-i {
    position: relative;
    height: 400px;
    padding-bottom: 40px;
    overflow: hidden;
}

.map-item iframe {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    top: 0px !important;
    left: 0px !important;
}

.map-item .inf_ {
    background: #246a34;
    position: absolute;
    text-align: center;
    padding-bottom: 10px;
    color: #fff;
    top: calc(100% - 40px);
    width: 100%;
    left: 0;
    transition: all 0.5s;
}

.map-item h3 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px;
    background: #ff2731;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.map-item .desc {
    padding: 0 10px;
}

.map-item:hover .inf_ {
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sticky-icon-block {}

.sticky-icon-wrapper {}

.footer .sticky-icon-link p {
    display: flex;
    display: -ms-flex;
    justify-content: center;
    align-items: center;
    -ms-flex-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #1e88ec;
    position: relative;
    z-index: 1;
}

.footer .sticky-icon-link::before {
    width: 70px;
    height: 70px;
    top: -10px;
    right: -10px;
    position: absolute;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background-color: var(--color-main);
    opacity: 0.4;
}

.sticky-icon-link::after {}

/* END FOOTER */

@media screen and (max-width: 992px) {
    .bottom-header {
        background: none;
        box-shadow: 0 0 3px 1px #f3f3f3;
    }

    .bottom-header nav.header-navbar .header-navbar-item {
        width: 30%;
        padding: 11px 18px;
        background: #ff2731;
        text-align: center;
    }
}