.danhmuc1{
    width: 100%;
    margin-top: 68px;
}
.container-fluid{
    padding: 0 !important;
}
#select{
    width: 10%;
}
.card .card-body{
    width: 95%;
}
.stretch-card > .card{
    min-width: 83%;
}
.card-body.table-responsive.p-0{
    margin-left: 15px;
}
.form-hinhanh{
    display: flex;
    flex-direction: column;
}
.form-hinhanh img{
    width: 30%;
}
.file_name{
    width: 50%;
    border: none;
}
.form-hinhanh .dowload_file{
    color: #000;
    text-decoration: none;
    border: 1px solid;
    width: 10%;
    text-align: center;
    padding: 5px 0;
    border-radius: 3px;
    background: chocolate;
}